<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.max.chat_firebase">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_convive"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="max.convives.MApplication">
        <activity android:name="max.convives.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="max.convives.UsersActivity"
            android:parentActivityName="max.convives.MainActivity" />
        <activity
            android:name="max.convives.ChatActivity"
            android:launchMode="singleTop"
            android:parentActivityName="max.convives.UsersActivity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="max.convives.settingsActivity"
            android:parentActivityName="max.convives.MainActivity" />
        <activity android:name="max.convives.SearchActivity"
            android:parentActivityName="max.convives.MainActivity" />
        <activity
            android:name="max.convives.UserActivity"
            android:parentActivityName="max.convives.ChatActivity" />

        <provider
            android:name="max.convives.mContentProvider"
            android:authorities="com.example.max.chat_firebase" />

        <service android:name="max.convives.DatabaseIntentService" />
        <service android:name="max.convives.OfflineJobIntentService" />
        <service android:name="max.convives.WriteToFirebaseJobIntentService" />
        <service android:name="max.convives.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="max.convives.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest><!--
            android:theme="@style/AppTheme">
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
--><!-- android:icon="@mipmap/ic_launcher" -->
